.shop-container {
  width: 1273px;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  margin-top: 150px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
